

  <title>Все пользователи</title>
 </head>
 <body>

<table class="table table-striped" border="1" >
   
<h1>Спиксок гостей</h1>
<p>Статус : <%= flash[:bad] %>  <%= flash[:good] %> <%=flash[:delet]%> </p>
 <tr>
        <th>id</th>
        <th>Имя</th>
   		<th>Фамилия</th>
   		<th>Удалить</th>
   		<th>Детально</th>
   		<th>Пришел</th>
   		
   		
   </tr>
<% @users.each do |person| %>
    
 
   <tr>
    	<td class="col1"><%= person.id %></td>
    	<td><%= link_to person.name, user_path(person) %></td>
    	<td><%= person.family %></td>
    	<td><%= link_to "Удалить", user_path(person), method: :delete, data: {confirm: "Точно удалять?"} %>	
  		</td>
    	<td><a href="http://localhost:3000/users/<%= person.id %>">Посмотреть Детально</a> </td>	
    	<td> <%= radio_button_tag(:age, "Пришел") %> </td>

	 </tr>
     
<% end %>
</table>

<br>
Добавь друга	

 <%= form_for :user, url: users_path do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :family %>
   <%= f.file_field :avatar %>
  <%= f.submit "Create" %>
<% end %>



