

  <title>Все пользователи</title>
 </head>
 <body>

<table class="table table-striped" border="1" >
   
<h1>Таблица представления</h1>
<p>Статус : <%= flash[:bad] %>  <%= flash[:good] %> <%=flash[:delet]%> </p>
 <tr>
        <th>id</th>
        <th>Имя</th>
   		<th>Фамилия</th>
   		<th>Удалить</th>
   		<th>Детально</th>
   		<th>Пришел</th>
   		
   		
   </tr>
<% @users_list.each do |person| %>
    
 
   <tr>
    	<td class="col1"><%= person.id %></td>
    	<td><%= person.name %></td>
    	<td><%= person.family %></td>
    	<td><%= link_to "Удалить", welcome_path(person), method: :delete, data: {confirm: "Точно удалять?"} %>	
  		</td>
    	<td><a href="http://localhost:3000/welcome/<%= person.id %>">Посмотреть Детально</a> </td>	
    	<td> <%= radio_button_tag(:age, "Пришел") %> </td>

	 </tr>
     
<% end %>
</table>

<br>
Добавь друга	
 <form action="/welcome/" method="post">
   <p><input name="name" placeholder="Не менее 4"> <input  name="family" placeholder="Любое значение"></p>
   <p><input type="submit" value="Добавить"></p>
   
  </form>

  <form>
  <div class="form-group" action="/welcome/" method="post">
    <label for="exampleInputEmail1">Имя не короче 4 симолов</label>
    <input input name="name" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Фамилия</label>
    <input  class="form-control" id="exampleInputPassword1" placeholder="Фамилия">
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<p><%= flash[:good] %> </p>
